<%- include('partials/headerin') %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">WELCOME BACK!</h1><br>
    <h3 class="jumbotron-heading"><%= custName  %></h3><br><br>
    <p class="lead text-muted mb-0">Products purchased by you recently</p>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">

        <%  purchasedItems.forEach(function(item){ %>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <!-- <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap"> -->
            <div class="card-body">
              <h4 class="card-title text-center"><a href="/product" title="View Product"><%= item.itemName %></a></h4>
              <p class="card-text text-center"><%= item.description %></p>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block text-center"><%= item.price %></p>
                  <!-- <a href="/itemUpdate"><button value="" class="btn btn-link btn-block">UPDATE</<button></a> -->
                </div>

              </div>
            </div>
          </div>
        </div>

        <% }) %>

      </div>
    </div>
  </div>
</div>









<%- include('partials/footerin') %>
